version: "3"
services:
  redis:
    image: redis
    command: redis-server /usr/local/etc/redis/redis.conf
    container_name: cache_redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_store:/data
    networks:
      - local_net 

volumes:
  redis_store:
    external: true

networks:
  local_net:
    external: true
